<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.wsnIndoorBack.mapper.BuildMapper" >
    
    <sql id="Base_Column_List" >
        building.bid, building.name, building.position[0] as x, building.position[1] as y, 
        building.descrip,building.address,building.height
    </sql>
 
    <select id="getBuildings" resultType="Building"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM building
    </select>
    
     <select id="getBuildByNid" resultType="Building"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM building left join build_network on building.bid=build_network.bid
	   where build_network.nid=#{nid};
    </select>
    
    
</mapper>
