/*后台的main*/

* {
    margin: 0px;
    padding: 0px;
    /*font-size: 16px;
    font-family: 微软雅黑;*/
}

html,
body,
.mainbox {
    position: relative;
    width: 100%;
    height: 100%;
    background: #efe9e9;
}

.mainbox header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 78px;
    background-color: rgba(62, 139, 229, 1);
    z-index: 3;
    line-height: 55px;
}

.mainbox .left {
    margin-top: 78px;
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 210px;
    background: rgba(239, 244, 248, 1);
    z-index: 2;
}

.mainbox .right {
    margin-top: 78px;
    padding-bottom: 40px;
    position: absolute;
    /*top: 55px;*/
    padding-left: 210px;
    background: #F5F7F7;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.mainbox .right .rightbox {
    /*overflow-y:scroll;*/
}

.mainbox .right .rightbox .rightcon p {
    text-align: center;
}

/*底部*/

footer {
    background: #000;
    height: 40px;
    line-height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 5;
}

footer p,
header p,
.left p {
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.left p {
    margin-top: 300px;
}

/*用户*/

.top .logo {
    float: left;
    height: 60px;
    margin: 10px 10px;
    font-size: 1.7em;
    margin-left: 50px;
    font-weight: bold;
}

.top .user_info {
    float: right;
    height: 60px;
    width: 500px;
    margin: 10px 10px;
}

.top .head_img {
    height: 40px;
    margin: 4.5px 9px 9px 9px;
    float: left;
    border-style: solid;
    border-width: 4px;
    border-color: #cccccc;
    border-radius: 50%;
}

/*这里改隐藏显示*/

.top .user_info_detail {
    display: none;
    background-color: white;
    width: 300px;
    height: 260px;
    margin: 30px 0 0 0;
    border-radius: 10px;
    box-shadow: 0px 4px 9px #888888;
    transition: width 2s;
    -webkit-transition: width 2s;
    /* Safari */
}

.top .user_info .nickname {
    line-height: 44px;
    color: #fff;
}

.top .user_info_detail::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* 提示工具底部 */
    left: auto;
    right: 460px;
    margin-top: -7px;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent rgba(62, 139, 229, 1) transparent;
}

.top .user_info_detail_head {
    border-radius: 10px 10px 0 0;
    width: 300px;
    height: 80px;
    margin: 0;
    padding: 0;
    background-color: rgba(62, 139, 229, 1);
}

.top .user_info_detail_head .head_img {
    height: 50px;
    margin: 18px 9px 9px 18px;
}

.top .user_info_detail_head .nickname {
    margin: 21px 9px 9px 2px;
    color: white;
}

.top .user_info_detail_middle {
    width: 300px;
    height: 0px;
    margin: 0;
    padding: 0;
}

.top .user_info_detail ul {
    margin-top: 10px;
    list-style-type: none;
    /*padding: 0;*/
    float: left;
    border-collapse: collapse;
}

/*.top  .user_info_detail li{
   
}*/

.top .user_info_detail a {
    display: block;
    text-decoration: none;
    width: 285px;
    height: 35px;
    padding-top: 10px;
    padding-left: 15px;
    color: black;
}

.top .user_info_detail a:hover {
    background-color: rgba(240, 258, 253, 1.2);
}

.top .user_info_detail ul {
    text-align: left;
    line-height: 18px;
}

/* 废弃。鼠标移出去，就没了！！改用js*/

/*#head_img:hover ~ #user_info_detail{
    display: block;
}*/

.top .nickname {
    display: inline-block;
    /*float:left;*/
    margin: 4.5px 9px 9px 0;
    /*width:200px;*/
    height: 40px;
    text-align: center;
    font-size: 1em;
    /*padding: 10px 0;*/
}

/*左侧菜单*/

.con-left {
    position: relative;
    width: 200px;
    background: rgba(239, 244, 248, 1);
    float: left;
    display: table;
    text-align: left;
    color: #fff;
}

.con-left a {
    color: #000;
    padding: 10px 10px 10px 20px;
    font-size: 1.1em;
    height: 55px;
    display: block;
    text-decoration: none;
    line-height: 35px;
}

.left-nav-self {
    /*color: #000;
    padding: 20px 20px 8px 50px;
    font-size: 1.2em;
    height: 40px;
    display: block;
    text-decoration: none;*/
}

.con-left a:hover {
    background-color: #cccccc;
    color: white;
}

.con-left a.select {
    background-color: #555;
    color: white;
}

.con-left .item-list-level2 {
    display: none;
    /*background-color: #555;*/
}

.con-left .item-list-level2 a {
    padding-left: 40px;
    font-size: 1.0em;
    /*color: white;*/
}

.con-left-title {
    color: black;
    padding: 0 0 10px 20px;
    font-weight: bold;
}

/*内容*/

.content-main {
    position: relative;
    height: 100%;
    padding-bottom: 64px;
    overflow: auto;
}

.content-bar {
    position: relative;
    height: 70px;
    padding: 15px 0 15px 24px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 25px;
    margin-bottom: 10px;
}

.content-bar-left {
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
}

.content-bar-right {
    float: right;
    padding-right: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
}

.content-bar-breadcrumb {
    display: inline-block;
}

.breadcrumbback {
    cursor: pointer;
    color: rgba(62, 139, 229, 1);
}

.content-bar-result-count {
    display: inline-block;
    color: #999;
    padding-left: 3px;
}

/*表格*/

.list_top {
    width: 100%;
    padding: 20px 50px;
    margin-bottom: 10px;
}

.list_top_operate {
    float: right;
    padding-right: 200px;
}

#data_table {
    width: 98%;
    min-height: 500px;
    height: auto;
    border-bottom: 1px #cccccc solid;
    margin: 30px auto;
}

.list_table_container {
    width: 100%;
    min-height: 500px;
    height: auto;
    background-color: white;
    padding: 10px 30px;
}

#list_table {
    width: 100%;
    text-align: left;
    margin: 0 auto;
    padding: 10px 20px;
    border-collapse: collapse;
}

#list_table th {
    padding: 10px 10px;
}

#list_table tr,
#list_table td {
    padding: 8px 10px;
    border-bottom: 1px #cccccc solid;
}

.table-title {
    color: grey;
}

.table-head {}

#tab_item_operate a {
    float: left;
    margin-right: 6px;
}

.tab_small_opt_button {
    color: #000;
    float: left;
    margin-right: 6px;
}

.tab_num {
    color: #888888;
}

/*底部*/

.list_bottom {
    width: 98%;
    position: relative;
    bottom: 0px;
    margin: 0px auto;
    padding: 5px;
    border-top: 1px solid #ddd;
    background-color: white;
}

.list_bottom_tabinfo {
    display: inline-block;
    height: 50px;
    padding-left: 20px;
    font-size: 16px;
    position: relative;
    line-height: 50px;
}

/*底部的分页*/

.list_pagination {
    position: relative;
    float: right;
    margin-right: 100px;
}

.list_pagination .pagination {
    margin: 5px;
}

/*表格数据加载*/

.data-loading::after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis 1s infinite;
    content: "\2026\2026";
    /* ascii code for the ellipsis character */
}

@keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 25px;
    }
}

/*内容*/

/*内容外围*/

.content-mapapp {
    position: relative;
    width: 100%;
    height: 680px;
    /*background-color: papayawhip;*/
}

.content-mapComponent {
    position: relative;
    float: left;
    width: 55%;
    height: 100%;
    margin-left: 10px;
    /*background-color: palegreen;*/
}

.content-mapinfo {
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    padding: 10px 25px;
    /*background-color: rebeccapurple;*/
}

.map-all {
    position: relative;
    float: top;
    width: 100%;
    height: 90%;
    /*background-color: papayawhip;*/
}

.map-footer {
    position: relative;
    margin-top: 10px;
    /*float: bottom;*/
    width: 95%;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.2em;
    /*box-shadow:0 2px 3px 0 rgba(0,0,0,.2);
    padding:10px 25px;*/
    /*background-color: #fff;*/
}

.map-tool {
    position: relative;
    float: left;
    width: 13%;
    height: 100%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    padding: 10px 25px;
    /*background-color: greenyellow;*/
}

.map-entity {
    position: relative;
    float: left;
    width: 92%;
    height: 100%;
    /*background-color: orchid;*/
}

.map-floor {
    position: relative;
    float: left;
    width: 5%;
    height: 100%;
    /*background-color: crimson;*/
}

/*.map-floor-btnroup {
    position: relative;
    width: 80%;
    display: inline-block;
    margin: 0 auto;
    background-color: grey;
}*/

.map-floor-btnroup {
    position: relative;
    margin: 0 auto;
}

.indoormap {
    width: 99%;
    height: 99%;
    margin: 0 auto;
    /*background-color: grey;*/
    border-style: groove;
    border-color: green;
}

#viewOperate {
    bottom: 20px;
    left: 20px;
    position: absolute;
    z-index: 200;
}

#viewOperate button {
    display: block;
    float: left;
    margin: 1px;
    padding: 0;
    color: #fff;
    font-size: 1.14em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.575em;
    width: 1.575em;
    line-height: .4em;
    background-color: rgba(0, 60, 136, .5);
    border: none;
}

#mouse-position{
    float:right;
    font-size:10pm;
}

/*百度地图*/

.bmap-container {
    float: left;
    position: relative;
    width: 65%;
    margin-right: 10px;
    height: 600px;
    border: 5px solid black;
    border-left: 5px solid grey;
    border-bottom: 5px solid grey;
}

.bmap-data-container {
    float: left;
    position: relative;
    width: 30%;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    padding: 10px 25px;
}

/*通用*/

/*腾讯云的白色div*/

.white-panel {
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    padding: 10px 25px;
}